<component name="ArtifactManager">
  <artifact type="exploded-war" name="SpringIOC:war exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/SpringIOC_war_exploded</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="SpringIOC/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="SpringIOC" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="Spring-4.3.13.RELEASE" />
          <element id="library" level="project" name="aspectj-1.8.13" />
        </element>
      </element>
    </root>
  </artifact>
</component>